@model IEnumerable<Ecommerce_MVC_Core.ViewModel.LocationListViewModel>
@{
    ViewData["Title"] = "Location";
}

<div class="col-md-2">
    <a id="createModel" data-toggle="modal" asp-controller="Location" asp-action="AddEditLocation" class="btn btn-lg btn-info" data-target="#modal-popUP">
        <i class="glyphicon glyphicon-plus"></i>Add
    </a>
</div>
<div class="col-md-3">
    <form method="post" asp-action="LocationIndex" class="form-inline">
        <div class="form-horizontal">
            <div class="form-group">
                <input type="text" name="search" value="@Html.ViewBag.SearchString" class="form-control" />
                <input type="submit" value="Search" class="btn btn-default pull-right" />

            </div>
        </div>
    </form>
</div>

@{
    if (Model.ToList().Count <= 0)
    {
        <h1>No Location Added Yet</h1>
    }
    else
    {
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Total Orders</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int count = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.CityName
                            </td>
                            <td>@item.TotalOrders</td>
                            <td>
                                <a id="editUserModal" data-toggle="modal" asp-action="AddEditLocation" asp-route-id="@item.Id" data-target="#modal-popUP"
                                   class="btn btn-info">
                                    <i class="glyphicon glyphicon-pencil"></i>  Edit
                                </a>
                                <a id="deleteUserModal" data-toggle="modal" asp-action="DeleteLocation" asp-route-id="@item.Id" data-target="#modal-popUP" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>  Delete
                                </a>
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    }
}
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-popUP", AreaLabeledId = "modal-popUP-label", Size = ModalSize.Medium })

<script src="~/js/ModalPopup.js"></script>

<script type="text/javascript">

    $(document).ready(function() {

    $.validator.unobtrusive.parse("#frm");
        $(document).on("change","#CountryId",function () {
            $("#CityId").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetCity", "Location")',
                dataType: 'json',
                data: { id: $("#CountryId").val() },

                success: function(states) {

                    $.each(states,
                        function(i, items) {
                            console.log(items);
                            $("#CityId").append('<option value="' + items.value + '">' + items.text + '</option>');

                        });
                },
                error: function(ex) {
                    alert('Failed. ' + ex);
                }
            });
            return false;
        });
    });
</script>


