@model IEnumerable<Ecommerce_MVC_Core.ViewModel.ProductStockListViewModel>
@{
    ViewData["Title"] = "Product Stock";
}


<div class="row">
    <form method="post" asp-action="Index" class="form-inline">
        <div class="form-horizontal">

            <div class="form-group">
                <a id="createModel" asp-controller="ProductStock" asp-action="AddEditProductStock" class="btn btn-info">
                    <i class="glyphicon glyphicon-plus"></i>Add
                </a>
                <input type="text" name="search" value="@Html.ViewBag.SearchString" class="form-control" />
                <input type="submit" value="Search" class="btn btn-default pull-right" />

            </div>
        </div>
    </form>
</div>
<hr />
@{
    if (Model.ToList().Count <= 0)
    {
        <h1>No Item Added Yet</h1>
    }
    else
    {
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>In Stock</th>
                    <th>In Quantity</th>
                    <th>Out Quantity</th>
                    <th>Last Updated</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int count = 1;
                    foreach (var item in Model)
                    {
                <tr>
                    <td>@count</td>
                    <td>
                        @item.ProductName
                    </td>
                    <td>@item.InStock</td>
                    <td>@item.InQuantity</td>
                    <td>@item.OutQuantity</td>
                    <th>
                        
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Added @item.AddedDate">@item.ModifiedDate</a>
                    </th>
                <td>
                    <a id="editUserModal" asp-action="AddEditProductStock" asp-route-id="@item.Id"
                       class="btn btn-info">
                        <i class="glyphicon glyphicon-pencil"></i>  Edit
                    </a>
                    <a id="deleteUserModal" data-toggle="modal" asp-action="Delete" asp-route-id="@item.Id" data-target="#modal-popUP" class="btn btn-danger">
                        <i class="glyphicon glyphicon-trash"></i>  Delete
                    </a>
                </td>
                </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    }
}
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-popUP", AreaLabeledId = "modal-popUP-label", Size = ModalSize.Medium })


