@model IEnumerable<Ecommerce_MVC_Core.ViewModel.UnitListViewModel>
@{
    ViewData["Title"] = "Index";
}

<div class="col-md-2">
    <a id="createModel" data-toggle="modal" asp-controller="Units" asp-action="AddEditUnit" class="btn btn-info" data-target="#modal-popUP">
        <i class="glyphicon glyphicon-plus"></i>Add
    </a>
</div>
<div class="col-md-3">
    <form method="post" asp-action="Index" class="form-inline">
        <div class="form-horizontal">
            <div class="form-group">
                <input type="text" name="search" value="@Html.ViewBag.SearchString" class="form-control" />
                <input type="submit" value="Search" class="btn btn-default pull-right" />

            </div>
        </div>
    </form>
</div>

@{
    if (Model.ToList().Count <= 0)
    {
        <h1>No Unit Added Yet</h1>
    }
    else
    {
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Total Products</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @{
                    int count = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>
                                @item.Name
                            </td>
                            <td>@item.Description</td>
                            <td>@item.TotalProducts</td>
                            <td>
                                <a id="editUserModal" data-toggle="modal" asp-action="AddEditUnit" asp-route-id="@item.Id" data-target="#modal-popUP"
                                   class="btn btn-info">
                                    <i class="glyphicon glyphicon-pencil"></i>  Edit
                                </a>
                                <a id="deleteUserModal" data-toggle="modal" asp-action="DeleteUnit" asp-route-id="@item.Id" data-target="#modal-popUP" class="btn btn-danger">
                                    <i class="glyphicon glyphicon-trash"></i>  Delete
                                </a>
                            </td>
                        </tr>
                        count++;
                    }
                }
            </tbody>
        </table>
    }
}
@Html.Partial("_Modal", new BootstrapModel { ID = "modal-popUP", AreaLabeledId = "modal-popUP-label", Size = ModalSize.Medium })
