@model Ecommerce_MVC_Core.ViewModel.Public.HomePage
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div>
    <!-- banner -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>The Biggest <span>Sale</span></h3>
                        <p>Special for today</p>
                        <a class="hvr-outline-out button2" asp-action="Product">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item2">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Winter <span>Collection</span></h3>
                        <p>New Arrivals On Sale</p>
                        <a class="hvr-outline-out button2" asp-action="Product">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item3">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>The Biggest <span>Sale</span></h3>
                        <p>Special for today</p>
                        <a class="hvr-outline-out button2" asp-action="Product">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item4">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Summer <span>Collection</span></h3>
                        <p>New Arrivals On Sale</p>
                        <a class="hvr-outline-out button2" asp-action="Product">Shop Now </a>
                    </div>
                </div>
            </div>
            <div class="item item5">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>The Biggest <span>Sale</span></h3>
                        <p>Special for today</p>
                        <a class="hvr-outline-out button2" asp-action="Product">Shop Now </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- The Modal -->
    </div>
    <!-- //banner -->
</div>





<!-- /new_arrivals -->
<div class="new_arrivals_agile_w3ls_info">
    <div class="container">
        <h3 class="wthree_text_info">New <span>Arrivals</span></h3>
        <div id="horizontalTab">
            <ul class="resp-tabs-list">
                @foreach (var item in (List<string>)ViewBag.CategoryNameList)
                {
                    <li>@item</li>
                }
                @*<li> Electronics</li>
                <li>Garments</li>
                <li> Medicine</li>*@
            </ul>
            <div class="resp-tabs-container">
                <!--/tab_one-->
                <div class="tab1">
                    @foreach (var item in Model.FirstTab)
                    {
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="~/uploads/ProductImages/@item.ImagePath" alt="@item.ImageTitle" class="pro-image-front">
                                    <img src="~/uploads/ProductImages/@item.SecondImagePath" alt="@item.ImageTitle" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a data-toggle="modal" asp-controller="Home" asp-action="QuickViewProduct" asp-route-product="@item.Id" data-target="#modal-popUP" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">@item.CategoryName</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id">@item.Name</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">@item.FinalPrice BDT</span>
                                        <del>@item.Price</del>
                                        <i>@item.Discount% off</i>
                                    </div>

                                    <a data-toggle="modal" asp-controller="Home" asp-action="AddToCart" asp-route-product="@item.Id" data-target="#modal-popUP" class="btn btn-primary">Add to Cart</a>



                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
                <!--//tab_one-->
                <!--/tab_two-->
                <div class="tab2">
                    @foreach (var item in Model.SecondTab)
                    {
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="~/uploads/ProductImages/@item.ImagePath" alt="@item.ImageTitle" class="pro-image-front">
                                    <img src="~/uploads/ProductImages/@item.SecondImagePath" alt="@item.ImageTitle" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a data-toggle="modal" asp-controller="Home" asp-action="QuickViewProduct" asp-route-product="@item.Id" data-target="#modal-popUP" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">@item.CategoryName</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id">@item.Name</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">@item.FinalPrice BDT</span>
                                        <del>@item.Price</del>
                                        <i>@item.Discount% off</i>
                                    </div>

                                    <a data-toggle="modal" asp-controller="Home" asp-action="AddToCart" asp-route-product="@item.Id" data-target="#modal-popUP" class="btn btn-primary">Add to Cart</a>



                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
                <!--//tab_two-->
                <div class="tab3">

                    @foreach (var item in Model.ThirdTab)
                    {
                        <div class="col-md-3 product-men">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item">
                                    <img src="~/uploads/ProductImages/@item.ImagePath" alt="@item.ImageTitle" class="pro-image-front">
                                    <img src="~/uploads/ProductImages/@item.SecondImagePath" alt="@item.ImageTitle" class="pro-image-back">
                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a data-toggle="modal" asp-controller="Home" asp-action="QuickViewProduct" asp-route-product="@item.Id" data-target="#modal-popUP" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                    <span class="product-new-top">@item.CategoryName</span>

                                </div>
                                <div class="item-info-product ">
                                    <h4><a asp-controller="Home" asp-action="ProductDetails" asp-route-product="@item.Id">@item.Name</a></h4>
                                    <div class="info-product-price">
                                        <span class="item_price">@item.FinalPrice</span>BDT
                                        <del>@item.Price</del>
                                        <i>@item.Discount% off</i>
                                    </div>

                                    <a data-toggle="modal" asp-controller="Home" asp-action="AddToCart" asp-route-product="@item.Id" data-target="#modal-popUP" class="btn btn-primary">Add to Cart</a>



                                </div>
                            </div>
                        </div>
                    }
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //new_arrivals -->
@*All Category*@
<div class="container">
    <h3 class="wthree_text_info">Hard to find your choice <span>Down Here</span></h3>
    @{
        @await Html.PartialAsync("_SubCategory", Model.Categories)

    }

</div>




<script src="~/js/brandcrsole.js"></script>
<link href="~/css/public/brandCursole.css" rel="stylesheet" />

<h3 class="wthree_text_info">Top <span>Brands</span></h3>

<section class="customer-logos slider">
    @foreach (var item in Model.BrandList)
    {
        <div class="slide">
            <a asp-action="Product" asp-controller="Home" asp-route-Brand="@item.Id">
                <img src="images/public/nobrandImage.png">
                <span style="font-size: 18px;text-align: center">@item.Name</span>
            </a>
        </div>
    }

</section>


<!-- schedule-bottom -->
<div class="schedule-bottom">
    <div class="col-md-6 agileinfo_schedule_bottom_left">
        <img src="/images/public/mid.jpg" alt=" " class="img-responsive" />
    </div>
    <div class="col-md-6 agileits_schedule_bottom_right">
        <div class="w3ls_schedule_bottom_right_grid">
            <h3>Save up to <span>50%</span> in this week</h3>
            <p>
                Suspendisse varius turpis efficitur erat laoreet dapibus.
                Mauris sollicitudin scelerisque commodo.Nunc dapibus mauris sed metus finibus posuere.
            </p>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <h4>Customers</h4>
                <h5 class="counter">653</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <h4>Events</h4>
                <h5 class="counter">823</h5>
            </div>
            <div class="col-md-4 w3l_schedule_bottom_right_grid1">
                <i class="fa fa-shield" aria-hidden="true"></i>
                <h4>Awards</h4>
                <h5 class="counter">45</h5>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
<!-- //schedule-bottom -->
<!--/grids-->
<div class="coupons">
    <div class="coupons-grids text-center">
        <div class="w3layouts_mail_grid">
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>FREE SHIPPING</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-headphones" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>24/7 SUPPORT</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>MONEY BACK GUARANTEE</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="col-md-3 w3layouts_mail_grid_left">
                <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                    <i class="fa fa-gift" aria-hidden="true"></i>
                </div>
                <div class="w3layouts_mail_grid_left2">
                    <h3>FREE GIFT COUPONS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>
<!--grids-->

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-popUP", AreaLabeledId = "modal-popUP-label", Size = ModalSize.Medium })